@page "{id:int?}"
@using MySqlTestRazor.Models
@model MySqlTestRazor.Pages.Teams.DetailsModel

@{
    ViewData["Title"] = "Team Details";
}

<h1>Team Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @{
                string id = "-";
                if (@Model.Team != null && @Model.Team.TeamColorId != null)
                {
                    @Html.DisplayNameFor(model => @Model.Team.TeamColorId)
                }
                else
                {
                    @Html.DisplayNameFor(model => id)
                }
            }
        </dt>
        <dd class="col-sm-10">
            @{
                string name = "-";
                if ((@Model.Team != null) && (@Model.Team.TeamColor != null) && (@Model.Team.TeamColor.Name != null))
                {
                    name = Model.Team.TeamColor.Name;
                }
            }
            @Html.DisplayFor(model => name)
        </dd>
@*        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Goals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Goals)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.MatchDayIdForTeamWhite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.MatchDayIdForTeamWhite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.MatchDayIdForTeamRed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.MatchDayIdForTeamRed)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Team.Id">Ändern</a> |
    <a asp-page="./Index">Zurück zur Liste</a>
</div>
