@using HobbyTeamManager.Models
@{
    var site = Utilities.Miscellaneous.GetObjectFromSessionString<Site>(Context);
    if (site == null)
    {
        site = new Site();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hobby Team Manager</title>
    <link rel="stylesheet" href="~/lib/simple-sidebar/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HobbyTeamManager.styles.css" asp-append-version="true" />
</head>
<body style="background-color: @site.BgColorBody; color: @site.FgColorBody">
    <div class="d-flex" id="wrapper">
        <partial name="_NavBarPartialSiteLeft" />
        <div id="page-content-wrapper">
            <div style="background-color: @site.BgColorMain; color: @site.FgColorMain">
                <main role="main" class="page-content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </main>
                <hr />
            </div>
            <footer class="border-top footer"
                    style="background-color: @site.BgColorFooter; color: @site.FgColorFooter">
                <partial name="_FooterPartial" />
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>