@model BasePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hobby Team Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HobbyTeamManager.styles.css" asp-append-version="true" />
</head>
<body style="background-color: @Model.BgColorBody; color: @Model.FgColorBody">
    <header style="background-color: @Model.BgColorHeader; color: @Model.FgColorHeader">
        <p align="center">&nbsp;</p>
        @if (!string.IsNullOrEmpty(@Model.Headline))
        {
            <p align="center">
                <font size="8" face="Arial Black">@Model.Headline</font>
            </p>
        }
        @if (!string.IsNullOrEmpty(@Model.Headline2))
        {
            <p align="center">
                <font size="8" face="Arial Black">@Model.Headline2</font>
            </p>
        }
        <partial name="_NavBarPartialStart" />
    </header>
    <div style="background-color: @Model.BgColorMain; color: @Model.FgColorMain">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer"
            style="background-color: @Model.BgColorFooter; color: @Model.FgColorFooter">
        <partial name="_FooterPartial" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>