@page
@using System.Globalization;
@model HobbyTeamManager.Pages.Seasons.IndexModel

@{
    ViewData["Title"] = "Saison Liste";
}

<h1>Saison Liste</h1>

<p>
    <a asp-page="Create">Neue Saison</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season[0].StartMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season[0].MatchOnDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season[0].MatchDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Season) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @{
                    string month = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.StartMonth);
                }
                @Html.DisplayFor(modelItem => month)
            </td>
            <td>
                @{
                    DayOfWeek day = (item.MatchOnDay == 7) ? DayOfWeek.Sunday : (DayOfWeek)item.MatchOnDay;
                    string weekDay =
                    CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(day); 
                }
                @Html.DisplayFor(modelItem => weekDay)
            </td>
            <td>
                @{
                    int numMatchDays = 0;
                    if (item != null && item.MatchDays != null)
                    {
                        numMatchDays = item.MatchDays.Count;
                    }
                }
                @Html.DisplayFor(modelItem => numMatchDays)
            </td>
            <td>
                @*
                WE DON'T ALLOW TO EDIT A SEASON RATHER THAN DELETE AND CREATE NEW!!!
                <a asp-page="./Edit" asp-route-id="@item.Id">Ändern</a> |
                *@
                <a asp-page="./Details" asp-route-id="@item.Id">Saison Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
