@page
@model HobbyTeamManager.Pages.Sites.DeleteModel

@{
    ViewData["Title"] = "Löschen";
    Layout = "../Shared/_LayoutStart.cshtml";
}

<h1>Löschen</h1>

<h3>Bist Du sicher, dass Du die Hobby Mannschaft \"@Model.Site.Name\"" löschen willst?</h3>
<div>
    <h4>Hobby Mannschaft</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Logo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Site.Logo != null)
            {
                <img id="logo" style="width:40px;height:50px; object-fit:cover"
                    src="data:image/*;base64,@(Convert.ToBase64String(Model.Site.Logo))">
            }
            else
            {
                <img id="logo" style="width:40px;height:50px; object-fit:cover" src="">
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Motto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Motto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.ConfirmationModeId)
        </dt>
        <dd class="col-sm-10">
            @Model.Site.GetConfirmationMode(Model.Site.ConfirmationModeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.TeamColor1)
        </dt>
        <dd class="col-sm-10">
            <svg width="60" height="20">
                <rect width="50" height="18" style="fill:@Model.Site.TeamColor1;stroke-width:3;stroke:rgb(255,255,255)"/>
            </svg>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.TeamColor2)
        </dt>
        <dd class="col-sm-10">
            <svg width="60" height="20">
                <rect width="50" height="18" style="fill:@Model.Site.TeamColor2;stroke-width:3;stroke:rgb(255,255,255)"/>
            </svg>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Site.Id" />
        <input type="submit" value="LÖSCHEN" class="btn btn-danger" /> |
        <a asp-page="./Index">Zurück zur Liste</a>
    </form>
</div>
