@page
@model MySqlTestRazor.Pages.Sites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.Rules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.Rules)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.ConfirmationModeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.ConfirmationModeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.TeamColor1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.TeamColor1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Site.TeamColor2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Site.TeamColor2)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Site.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
