@page
@model MySqlTestRazor.Pages.Sites.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_LayoutStart.cshtml";
}

<h1>Liste der Hobby Mannschaften</h1>

<p>
    <a asp-page="Create">Neue Hobby Mannschaft erstellen</a>
</p>
<table class="table" style="color: @Model.FgColorMain">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].Motto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].ConfirmationModeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].TeamColor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site[0].TeamColor2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Site) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Logo != null)
                {
                    <img id="logo" style="width:40px;height:50px; object-fit:cover"
                        src="data:image/*;base64,@(Convert.ToBase64String(item.Logo))">
                }
                else
                {
                    <img id="logo" style="width:40px;height:50px; object-fit:cover" src="">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @item.GetConfirmationMode(item.ConfirmationModeId)
            </td>
            <td>
                <svg width="60" height="20">
                    <rect width="50" height="18" style="fill:@item.TeamColor1;stroke-width:3;stroke:rgb(255,255,255)"/>
                </svg>
            </td>
            <td>
                <svg width="60" height="20">
                    <rect width="50" height="18" style="fill:@item.TeamColor2;stroke-width:3;stroke:rgb(255,255,255)"/>
                </svg>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Ändern</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Löschen</a>
            </td>
        </tr>
}
    </tbody>
</table>
