@page
@model IndexModel
@using HobbyTeamManager.Models
@{
    ViewData["Title"] = "Willkommen";
    Layout = "Shared/_LayoutStart.cshtml";
    var site = Utilities.Miscellaneous.GetObjectFromSessionString<Site>(HttpContext);
    if (site == null)
    {
        site = new Site();
    }
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Hobby Team Manager (HTM) dient zur Demonstration einer .NET Core Web-Applikation mit Razor Pages und Maria-DB und läuft auf einem Raspberry Pi 4b mit 4 MB.
                    Mit dem HTM kann man seine Hobby Mannschaft verwalten kann.
                    Mit ein bisschen Spieltage-Historie kann der HTM auf Basis von "angemeldeten Spielern" Mannschaften aufstellen, die ungefähr gleich stark sind.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column">
                <p>
                    <a asp-page="/Sites/Create">Neue Hobby Mannschaft erstellen</a>
                </p>
                <p class="card-text mb-auto">
                    Die registrierten Hobby Mannschaften:
                </p>
                <p>
                    <a asp-page="/Sites/Index">Liste der Hobby Mannschaften</a>
                </p>
                <p>
                    <h4>Übersicht</h4>
                    <table class="table" style="color: @site.FgColorMain">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Site[0].Logo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Site) {
                            <tr style="background: @item.BgColorBody; color: @item.FgColorBody">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @if (item.Logo != null)
                                    {
                                        <img id="siteLogo" style="width:40px;height:50px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.Logo))">
                                    }
                                    else
                                    {
                                        <img id="siteLogo" style="width:40px;height:50px; object-fit:cover" src="">
                                    }
                                </td>
                                <td>
                                    <a asp-page="/Sites/Home" asp-route-id="@item.Id">Öffnen</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>